*.ipxe
*.md
.DS_Store
.devcontainer
.devenv
.devenv.flake.nix
.direnv
.editorconfig
.env
.envrc
.git
.git
.gitignore
.pre-commit-config.yaml
.python-version
.ruff_cache
.shellcheckrc
.venv
.vscode
Dockerfile
LICENSE
README.md
__pycache__
_meta
config.yml
cspell.config.jsonc
custom.ipxe
custom.ipxe.example
devenv.lock
devenv.nix
devenv.yaml
output
output
pyproject.toml
pyrightconfig.json
rsync-exclude.txt
src
uv.lock
