#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=999s

export ROOT_PASS="op://Developer/d2unzrjg56m2egky3bemnidyeq/ROOT_PASS"
export SSH_PUBKEY="op://Developer/d2unzrjg56m2egky3bemnidyeq/SSH_PUBKEY"
export OP_ACCOUNT="Blockmage"

eval "$(devenv direnvrc)"

use devenv
